html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: red;
}

a:hover{
    color: blue;
}

body{
    background-color: #161616;
    color: white;
}
.gold{
    color: gold;
}